<!-- Contenido de Servicios -->

    <div class="recuadro_servicios">
    	<div class="titulos_principales"><h2>DESCUBRE NUESTROS SERVICIOS HACIENDO CLIC SOBRE UNO DE ELLOS</h2></div>
        <div class="content">
            <ul class="ca-menu">
                <li>
                    <a href="/index/servicios/videojuegos">
                         <img class="ca-icon" src="/img/img-servicios/img_videojuegos.png" alt="Jugaba Interactive"/>
                        <div class="ca-content">
                            <h2 class="ca-main">DESARROLLO DE VIDEOJUEGOS</h2>
                            <h3 class="ca-sub">Creamos videojuegos interactivos a medida.</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="ca-icon" src="/img/img-servicios/img_videojuegos.png" alt="Jugaba Interactive"/>
                        <div class="ca-content">
                            <h2 class="ca-main">ENTORNOS INTERACTIVOS</h2>
                            <h3 class="ca-sub">Advanced use of technology</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                       <img class="ca-icon" src="/img/img-servicios/img_videojuegos.png" alt="Jugaba Interactive"/>
                        <div class="ca-content">
                            <h2 class="ca-main">PUBLICIDAD</h2>
                            <h3 class="ca-sub">Understanding visually</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="ca-icon" src="/img/img-servicios/img_videojuegos.png" alt="Jugaba Interactive"/>
                        <div class="ca-content">
                            <h2 class="ca-main">CORTOS ANIMADOS</h2>
                            <h3 class="ca-sub">Professionals in action</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="ca-icon" src="/img/img-servicios/img_videojuegos.png" alt="Jugaba Interactive"/>
                        <div class="ca-content">
                            <h2 class="ca-main">APLICACIONES</h2>
                            <h3 class="ca-sub">24/7 for you needs</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="ca-icon" src="/img/img-servicios/img_videojuegos.png" alt="Jugaba Interactive"/>
                        <div class="ca-content">
                            <h2 class="ca-main">VISUALIZACION 3D</h2>
                            <h3 class="ca-sub">24/7 for you needs</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="ca-icon" src="/img/img-servicios/img_videojuegos.png" alt="Jugaba Interactive"/>
                        <div class="ca-content">
                            <h2 class="ca-main">SOFTWARE Y MANTENIMIENTO</h2>
                            <h3 class="ca-sub">24/7 for you needs</h3>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>

<!-- Enlaces ordenados para menu simple
        <nav>
	        <ul class="navegar_servicios">
	          <li><a id="enlace_1" a href="#" onclick="muestra('contenido1');">VIDEOJUEGOS</a></li>
	          <li><a id="enlace_2" a href="#" onclick="muestra('contenido2');">ENTORNOS INTERACTIVOS</a></li>
	          <li><a id="enlace_3" a href="#" onclick="muestra('contenido3');">PUBLICIDAD</a></li>
	          <li><a id="enlace_4" a href="#" onclick="muestra('contenido4');">CORTOS ANIMADOS</a></li>
	          <li><a id="enlace_5" a href="#" onclick="muestra('contenido5');">APLICACIONES</a></li>
	          <li><a id="enlace_6" a href="#" onclick="muestra('contenido6');">VISUALIZACION 3D</a></li>
	          <li><a id="enlace_7" a href="#" onclick="muestra('contenido7');">SOFTWARE Y MANTENIMIENTO</a></li>
	        </ul>
        </nav>
     
    <div id="contenido_servicios">
    	<article id="info_servicios">  
		   <h3>SELECCIONA UNO DE NUESTROS SERVICIOS PARA OBTENER MAS INFORMACION</h3>
		</article>

		<article id="contenido1">  
		   <h2>DESARROLLO DE VIDEOJUEGOS</h2>
			<p>Creamos videojuegos interactivos a medida del cliente ofreciendo todo tipo de géneros y jugabilidad. Desde juegos educativos, puzzles, acción, aventura, disparos, etc. </p>

			<p>Caracteristicas: </p>
			<ul>
				<li>Desarrollo de documento de diseño.</li>
				<li>Desarrollo de mecánicas jugables.</li>
				<li>Estilos variados a medida (Realista, cartoon).</li>
				<li>Diseño de personajes, NPC, enemigos.</li>
				<li>Diseño de escenarios.</li>
				<li>Implementamos todo lo anterior en el Motor de juegos.</li>
				<li>Optimización para mayor compatibilidad en los distintos dispositivos.</li>
				<li>Usamos las tecnologías más actuales para el desarrollo (Unreal Engine 4, Unity 3D 5)</li>
				<li>Desarrollamos videojuegos para computador (desde navegador o instalable), iPhone, Android.</li>
			</ul>
		</article>

		<article id="contenido2">  
		   <h2>MODELADOS PARA PUBLICIDAD</h2>
			<p>Una gran manera de atraer clientes a tu empresa es la implementación de publicidad en 3D.</p>

			<p>Caracteristicas: </p>
			<ul>
				<li>Desarrollo de documento de diseño.</li>
				<li>Desarrollo de mecánicas jugables.</li>
				<li>Estilos variados a medida (Realista, cartoon).</li>
				<li>Diseño de personajes, NPC, enemigos.</li>
				<li>Diseño de escenarios.</li>
				<li>Implementamos todo lo anterior en el Motor de juegos.</li>
				<li>Optimización para mayor compatibilidad en los distintos dispositivos.</li>
				<li>Usamos las tecnologías más actuales para el desarrollo (Unreal Engine 4, Unity 3D 5)</li>
				<li>Desarrollamos videojuegos para computador (desde navegador o instalable), iPhone, Android.</li>
			</ul>
		</article>

		<article id="contenido3">  
		   <h2>PUBLICIDAD 3D</h2>
			<p>Diseñamos todo tipo de entornos a medida del cliente, con posibilidad de ofrecer imágenes, videos y visualizaciones interactivas y de fácil manejo.</p>

			<p>Caracteristicas: </p>
			<ul>
				<li>Desarrollo de documento de diseño.</li>
				<li>Desarrollo de mecánicas jugables.</li>
				<li>Estilos variados a medida (Realista, cartoon).</li>
				<li>Diseño de personajes, NPC, enemigos.</li>
				<li>Diseño de escenarios.</li>
				<li>Implementamos todo lo anterior en el Motor de juegos.</li>
				<li>Optimización para mayor compatibilidad en los distintos dispositivos.</li>
				<li>Usamos las tecnologías más actuales para el desarrollo (Unreal Engine 4, Unity 3D 5)</li>
				<li>Desarrollamos videojuegos para computador (desde navegador o instalable), iPhone, Android.</li>
			</ul>
		</article>

		<article id="contenido4">  
		   <h2>CORTOS ANIMADOS</h2>
			<p>Diseñamos todo tipo de entornos a medida del cliente, con posibilidad de ofrecer imágenes, videos y visualizaciones interactivas y de fácil manejo.</p>

			<p>Caracteristicas: </p>
			<ul>
				<li>Desarrollo de documento de diseño.</li>
				<li>Desarrollo de mecánicas jugables.</li>
				<li>Estilos variados a medida (Realista, cartoon).</li>
				<li>Diseño de personajes, NPC, enemigos.</li>
				<li>Diseño de escenarios.</li>
				<li>Implementamos todo lo anterior en el Motor de juegos.</li>
				<li>Optimización para mayor compatibilidad en los distintos dispositivos.</li>
				<li>Usamos las tecnologías más actuales para el desarrollo (Unreal Engine 4, Unity 3D 5)</li>
				<li>Desarrollamos videojuegos para computador (desde navegador o instalable), iPhone, Android.</li>
			</ul>
		</article>

		<article id="contenido5">  
		   <h2>APLICACIONES PARA DISPOSITIVOS iOS / ANDROID (SMARTHPHONES Y TABLETS)</h2>
			<p>Diseñamos todo tipo de entornos a medida del cliente, con posibilidad de ofrecer imágenes, videos y visualizaciones interactivas y de fácil manejo.</p>

			<p>Caracteristicas: </p>
			<ul>
				<li>Desarrollo de documento de diseño.</li>
				<li>Desarrollo de mecánicas jugables.</li>
				<li>Estilos variados a medida (Realista, cartoon).</li>
				<li>Diseño de personajes, NPC, enemigos.</li>
				<li>Diseño de escenarios.</li>
				<li>Implementamos todo lo anterior en el Motor de juegos.</li>
				<li>Optimización para mayor compatibilidad en los distintos dispositivos.</li>
				<li>Usamos las tecnologías más actuales para el desarrollo (Unreal Engine 4, Unity 3D 5)</li>
				<li>Desarrollamos videojuegos para computador (desde navegador o instalable), iPhone, Android.</li>
			</ul>
		</article>

		<article id="contenido6">  
		   <h2>VISUALIZACION DE PRODUCTOS 3D</h2>
			<p>Diseñamos todo tipo de entornos a medida del cliente, con posibilidad de ofrecer imágenes, videos y visualizaciones interactivas y de fácil manejo.</p>

			<p>Caracteristicas: </p>
			<ul>
				<li>Desarrollo de documento de diseño.</li>
				<li>Desarrollo de mecánicas jugables.</li>
				<li>Estilos variados a medida (Realista, cartoon).</li>
				<li>Diseño de personajes, NPC, enemigos.</li>
				<li>Diseño de escenarios.</li>
				<li>Implementamos todo lo anterior en el Motor de juegos.</li>
				<li>Optimización para mayor compatibilidad en los distintos dispositivos.</li>
				<li>Usamos las tecnologías más actuales para el desarrollo (Unreal Engine 4, Unity 3D 5)</li>
				<li>Desarrollamos videojuegos para computador (desde navegador o instalable), iPhone, Android.</li>
			</ul>
		</article>

		<article id="contenido7">  
		   <h2>PAGINAS WEB</h2>
			<p>Diseñamos todo tipo de entornos a medida del cliente, con posibilidad de ofrecer imágenes, videos y visualizaciones interactivas y de fácil manejo.</p>

			<p>Caracteristicas: </p>
			<ul>
				<li>Desarrollo de documento de diseño.</li>
				<li>Desarrollo de mecánicas jugables.</li>
				<li>Estilos variados a medida (Realista, cartoon).</li>
				<li>Diseño de personajes, NPC, enemigos.</li>
				<li>Diseño de escenarios.</li>
				<li>Implementamos todo lo anterior en el Motor de juegos.</li>
				<li>Optimización para mayor compatibilidad en los distintos dispositivos.</li>
				<li>Usamos las tecnologías más actuales para el desarrollo (Unreal Engine 4, Unity 3D 5)</li>
				<li>Desarrollamos videojuegos para computador (desde navegador o instalable), iPhone, Android.</li>
			</ul>
		</article>
	</div>
</section>
-->

