
<!-- Contenido de Servicios -->
<section class="recuadro_comun">
	<div class="barra_titulos"><h2>SERVICIOS</h2></div>

	<div id="menu_servicios">
        <nav>
	        <ul class="navegar_servicios">
	          <li><a id="enlace_videojuegos" a href="#" onclick="muestra1(); return false;">VIDEOJUEGOS</a></li>
	          <li><a id="enlace_entornos_interactivos" a href="#" onclick="muestra2(); return false;">ENTORNOS INTERACTIVOS</a></li>
	          <li><a id="enlace_publicidad" a href="#" onclick="muestra3(); return false;">PUBLICIDAD</a></li>
	          <li><a id="enlace_cortos_animados" a href="#" onclick="muestra4(); return false;">CORTOS ANIMADOS</a></li>
	          <li><a id="enlace_aplicaciones" a href="#" onclick="muestra5(); return false;">APLICACIONES</a></li>
	          <li><a id="enlace_visualizacion_3d" a href="#" onclick="muestra6(); return false;">VISUALIZACION 3D</a></li>
	          <li><a id="enlace_otros" a href="#" onclick="muestra7(); return false;">SOFTWARE Y MANTENIMIENTO</a></li>
	        </ul>
        </nav>
	</div>
	<article id="desarrollo_videojuegos" class="visible">  
	   <h2>DESARROLLO DE VIDEOJUEGOS</h2>
		<p>Creamos videojuegos interactivos a medida del cliente ofreciendo todo tipo de géneros y jugabilidad. Desde juegos educativos, puzzles, acción, aventura, disparos, etc. </p>

		<p>Caracteristicas: </p>
		<ul>
			<li>Desarrollo de documento de diseño.</li>
			<li>Desarrollo de mecánicas jugables.</li>
			<li>Estilos variados a medida (Realista, cartoon).</li>
			<li>Diseño de personajes, NPC, enemigos.</li>
			<li>Diseño de escenarios.</li>
			<li>Implementamos todo lo anterior en el Motor de juegos.</li>
			<li>Optimización para mayor compatibilidad en los distintos dispositivos.</li>
			<li>Usamos las tecnologías más actuales para el desarrollo (Unreal Engine 4, Unity 3D 5)</li>
			<li>Desarrollamos videojuegos para computador (desde navegador o instalable), iPhone, Android.</li>
		</ul>
	</article>

	<article id="entornos_interactivos" class="oculto">  
	   <h2>MODELADOS PARA PUBLICIDAD</h2>
		<p>Una gran manera de atraer clientes a tu empresa es la implementación de publicidad en 3D.</p>

		<p>Caracteristicas: </p>
		<ul>
			<li>Desarrollo de documento de diseño.</li>
			<li>Desarrollo de mecánicas jugables.</li>
			<li>Estilos variados a medida (Realista, cartoon).</li>
			<li>Diseño de personajes, NPC, enemigos.</li>
			<li>Diseño de escenarios.</li>
			<li>Implementamos todo lo anterior en el Motor de juegos.</li>
			<li>Optimización para mayor compatibilidad en los distintos dispositivos.</li>
			<li>Usamos las tecnologías más actuales para el desarrollo (Unreal Engine 4, Unity 3D 5)</li>
			<li>Desarrollamos videojuegos para computador (desde navegador o instalable), iPhone, Android.</li>
		</ul>
	</article>

	<article id="publi" class="oculto">  
	   <h2>CORTOS ANIMADOS</h2>
		<p>Diseñamos todo tipo de entornos a medida del cliente, con posibilidad de ofrecer imágenes, videos y visualizaciones interactivas y de fácil manejo.</p>

		<p>Caracteristicas: </p>
		<ul>
			<li>Desarrollo de documento de diseño.</li>
			<li>Desarrollo de mecánicas jugables.</li>
			<li>Estilos variados a medida (Realista, cartoon).</li>
			<li>Diseño de personajes, NPC, enemigos.</li>
			<li>Diseño de escenarios.</li>
			<li>Implementamos todo lo anterior en el Motor de juegos.</li>
			<li>Optimización para mayor compatibilidad en los distintos dispositivos.</li>
			<li>Usamos las tecnologías más actuales para el desarrollo (Unreal Engine 4, Unity 3D 5)</li>
			<li>Desarrollamos videojuegos para computador (desde navegador o instalable), iPhone, Android.</li>
		</ul>
	</article>

	<article id="cortos_animados" class="oculto">  
	   <h2>CORTOS ANIMADOS</h2>
		<p>Diseñamos todo tipo de entornos a medida del cliente, con posibilidad de ofrecer imágenes, videos y visualizaciones interactivas y de fácil manejo.</p>

		<p>Caracteristicas: </p>
		<ul>
			<li>Desarrollo de documento de diseño.</li>
			<li>Desarrollo de mecánicas jugables.</li>
			<li>Estilos variados a medida (Realista, cartoon).</li>
			<li>Diseño de personajes, NPC, enemigos.</li>
			<li>Diseño de escenarios.</li>
			<li>Implementamos todo lo anterior en el Motor de juegos.</li>
			<li>Optimización para mayor compatibilidad en los distintos dispositivos.</li>
			<li>Usamos las tecnologías más actuales para el desarrollo (Unreal Engine 4, Unity 3D 5)</li>
			<li>Desarrollamos videojuegos para computador (desde navegador o instalable), iPhone, Android.</li>
		</ul>
	</article>

	<article id="aplicaciones" class="oculto">  
	   <h2>APLICACIONES PARA DISPOSITIVOS iOS / ANDROID (SMARTHPHONES Y TABLETS)</h2>
		<p>Diseñamos todo tipo de entornos a medida del cliente, con posibilidad de ofrecer imágenes, videos y visualizaciones interactivas y de fácil manejo.</p>

		<p>Caracteristicas: </p>
		<ul>
			<li>Desarrollo de documento de diseño.</li>
			<li>Desarrollo de mecánicas jugables.</li>
			<li>Estilos variados a medida (Realista, cartoon).</li>
			<li>Diseño de personajes, NPC, enemigos.</li>
			<li>Diseño de escenarios.</li>
			<li>Implementamos todo lo anterior en el Motor de juegos.</li>
			<li>Optimización para mayor compatibilidad en los distintos dispositivos.</li>
			<li>Usamos las tecnologías más actuales para el desarrollo (Unreal Engine 4, Unity 3D 5)</li>
			<li>Desarrollamos videojuegos para computador (desde navegador o instalable), iPhone, Android.</li>
		</ul>
	</article>

	<article id="visualizacion_3d" class="oculto">  
	   <h2>VISUALIZACION DE PRODUCTOS 3D</h2>
		<p>Diseñamos todo tipo de entornos a medida del cliente, con posibilidad de ofrecer imágenes, videos y visualizaciones interactivas y de fácil manejo.</p>

		<p>Caracteristicas: </p>
		<ul>
			<li>Desarrollo de documento de diseño.</li>
			<li>Desarrollo de mecánicas jugables.</li>
			<li>Estilos variados a medida (Realista, cartoon).</li>
			<li>Diseño de personajes, NPC, enemigos.</li>
			<li>Diseño de escenarios.</li>
			<li>Implementamos todo lo anterior en el Motor de juegos.</li>
			<li>Optimización para mayor compatibilidad en los distintos dispositivos.</li>
			<li>Usamos las tecnologías más actuales para el desarrollo (Unreal Engine 4, Unity 3D 5)</li>
			<li>Desarrollamos videojuegos para computador (desde navegador o instalable), iPhone, Android.</li>
		</ul>
	</article>

	<article id="otros" class="oculto">  
	   <h2>PAGINAS WEB</h2>
		<p>Diseñamos todo tipo de entornos a medida del cliente, con posibilidad de ofrecer imágenes, videos y visualizaciones interactivas y de fácil manejo.</p>

		<p>Caracteristicas: </p>
		<ul>
			<li>Desarrollo de documento de diseño.</li>
			<li>Desarrollo de mecánicas jugables.</li>
			<li>Estilos variados a medida (Realista, cartoon).</li>
			<li>Diseño de personajes, NPC, enemigos.</li>
			<li>Diseño de escenarios.</li>
			<li>Implementamos todo lo anterior en el Motor de juegos.</li>
			<li>Optimización para mayor compatibilidad en los distintos dispositivos.</li>
			<li>Usamos las tecnologías más actuales para el desarrollo (Unreal Engine 4, Unity 3D 5)</li>
			<li>Desarrollamos videojuegos para computador (desde navegador o instalable), iPhone, Android.</li>
		</ul>
	</article>
</section>