
<!-- Contenido de Servicios -->
<section class="recuadro_comun">
	<div class="barra_titulos"><h2>SERVICIOS</h2></div>

	<div id="menu_servicios">

	<div id="lista1" class="als-container">
				<span class="als-prev"><img src="/img/img-servicios/flecha_izquierda.png" alt="prev" title="previous" /></span>
				<div class="als-viewport">
					<nav class="navegar_servicios">
						<ul class="als-wrapper">
							<li class="als-item"><a id="enlace_1" onclick="muestra('contenido1');"><img src="/img/img-servicios/calculator.png" alt="desarrollo videojuegos">VIDEOJUEGOS</img></a></li>

							<li class="als-item"><a id="enlace_2" onclick="muestra('contenido2');"><img src="/img/img-servicios/light_bulb.png" alt="entornos interactivos">ENTORNOS INTERACTIVOS</img></a></li>

							<li class="als-item"><a id="enlace_3" onclick="muestra('contenido3');"><img src="/img/img-servicios/card.png" alt="publicidad 3D">PUBLICIDAD 3D</img></a></li>

							<li class="als-item"><a id="enlace_4" onclick="muestra('contenido4');"><img src="/img/img-servicios/chess.png" alt="cortos animados">CORTOS ANIMADOS</img></a></li>

							<li class="als-item"><a id="enlace_5" onclick="muestra('contenido5');"><img src="/img/img-servicios/clock.png" alt="aplicaciones">APLICACIONES</img></a></li>

							<li class="als-item"><a id="enlace_6" onclick="muestra('contenido6');"><img src="/img/img-servicios/heart.png" alt="visualizacion 3d">VISUALIZACION 3D</img></a></li>

							<li class="als-item"><a id="enlace_7" onclick="muestra('contenido7');"><img src="/img/img-servicios/map.png" alt="web y mantenimiento"> WEB Y MANTENIMIENTO</img></a></li>

						</ul>
					</nav>
				</div>
				<span class="als-next"><img src="/img/img-servicios/flecha_derecha.png" alt="next" title="next" /></span>
	</div>

<!-- Enlaces ordenados para menu simple
        <nav>
	        <ul class="navegar_servicios">
	          <li><a id="enlace_1" a href="#" onclick="muestra('contenido1');">VIDEOJUEGOS</a></li>
	          <li><a id="enlace_2" a href="#" onclick="muestra('contenido2');">ENTORNOS INTERACTIVOS</a></li>
	          <li><a id="enlace_3" a href="#" onclick="muestra('contenido3');">PUBLICIDAD</a></li>
	          <li><a id="enlace_4" a href="#" onclick="muestra('contenido4');">CORTOS ANIMADOS</a></li>
	          <li><a id="enlace_5" a href="#" onclick="muestra('contenido5');">APLICACIONES</a></li>
	          <li><a id="enlace_6" a href="#" onclick="muestra('contenido6');">VISUALIZACION 3D</a></li>
	          <li><a id="enlace_7" a href="#" onclick="muestra('contenido7');">SOFTWARE Y MANTENIMIENTO</a></li>
	        </ul>
        </nav>
     -->
    <div id="contenido_servicios">
    	<article id="info_servicios">  
		   <h3>SELECCIONA UNO DE NUESTROS SERVICIOS PARA OBTENER MAS INFORMACION</h3>
		</article>

		<article id="contenido1">  
		   <h2>DESARROLLO DE VIDEOJUEGOS</h2>
			<p>Creamos videojuegos interactivos a medida del cliente ofreciendo todo tipo de géneros y jugabilidad. Desde juegos educativos, puzzles, acción, aventura, disparos, etc. </p>

			<p>Caracteristicas: </p>
			<ul>
				<li>Desarrollo de documento de diseño.</li>
				<li>Desarrollo de mecánicas jugables.</li>
				<li>Estilos variados a medida (Realista, cartoon).</li>
				<li>Diseño de personajes, NPC, enemigos.</li>
				<li>Diseño de escenarios.</li>
				<li>Implementamos todo lo anterior en el Motor de juegos.</li>
				<li>Optimización para mayor compatibilidad en los distintos dispositivos.</li>
				<li>Usamos las tecnologías más actuales para el desarrollo (Unreal Engine 4, Unity 3D 5)</li>
				<li>Desarrollamos videojuegos para computador (desde navegador o instalable), iPhone, Android.</li>
			</ul>
		</article>

		<article id="contenido2">  
		   <h2>MODELADOS PARA PUBLICIDAD</h2>
			<p>Una gran manera de atraer clientes a tu empresa es la implementación de publicidad en 3D.</p>

			<p>Caracteristicas: </p>
			<ul>
				<li>Desarrollo de documento de diseño.</li>
				<li>Desarrollo de mecánicas jugables.</li>
				<li>Estilos variados a medida (Realista, cartoon).</li>
				<li>Diseño de personajes, NPC, enemigos.</li>
				<li>Diseño de escenarios.</li>
				<li>Implementamos todo lo anterior en el Motor de juegos.</li>
				<li>Optimización para mayor compatibilidad en los distintos dispositivos.</li>
				<li>Usamos las tecnologías más actuales para el desarrollo (Unreal Engine 4, Unity 3D 5)</li>
				<li>Desarrollamos videojuegos para computador (desde navegador o instalable), iPhone, Android.</li>
			</ul>
		</article>

		<article id="contenido3">  
		   <h2>PUBLICIDAD 3D</h2>
			<p>Diseñamos todo tipo de entornos a medida del cliente, con posibilidad de ofrecer imágenes, videos y visualizaciones interactivas y de fácil manejo.</p>

			<p>Caracteristicas: </p>
			<ul>
				<li>Desarrollo de documento de diseño.</li>
				<li>Desarrollo de mecánicas jugables.</li>
				<li>Estilos variados a medida (Realista, cartoon).</li>
				<li>Diseño de personajes, NPC, enemigos.</li>
				<li>Diseño de escenarios.</li>
				<li>Implementamos todo lo anterior en el Motor de juegos.</li>
				<li>Optimización para mayor compatibilidad en los distintos dispositivos.</li>
				<li>Usamos las tecnologías más actuales para el desarrollo (Unreal Engine 4, Unity 3D 5)</li>
				<li>Desarrollamos videojuegos para computador (desde navegador o instalable), iPhone, Android.</li>
			</ul>
		</article>

		<article id="contenido4">  
		   <h2>CORTOS ANIMADOS</h2>
			<p>Diseñamos todo tipo de entornos a medida del cliente, con posibilidad de ofrecer imágenes, videos y visualizaciones interactivas y de fácil manejo.</p>

			<p>Caracteristicas: </p>
			<ul>
				<li>Desarrollo de documento de diseño.</li>
				<li>Desarrollo de mecánicas jugables.</li>
				<li>Estilos variados a medida (Realista, cartoon).</li>
				<li>Diseño de personajes, NPC, enemigos.</li>
				<li>Diseño de escenarios.</li>
				<li>Implementamos todo lo anterior en el Motor de juegos.</li>
				<li>Optimización para mayor compatibilidad en los distintos dispositivos.</li>
				<li>Usamos las tecnologías más actuales para el desarrollo (Unreal Engine 4, Unity 3D 5)</li>
				<li>Desarrollamos videojuegos para computador (desde navegador o instalable), iPhone, Android.</li>
			</ul>
		</article>

		<article id="contenido5">  
		   <h2>APLICACIONES PARA DISPOSITIVOS iOS / ANDROID (SMARTHPHONES Y TABLETS)</h2>
			<p>Diseñamos todo tipo de entornos a medida del cliente, con posibilidad de ofrecer imágenes, videos y visualizaciones interactivas y de fácil manejo.</p>

			<p>Caracteristicas: </p>
			<ul>
				<li>Desarrollo de documento de diseño.</li>
				<li>Desarrollo de mecánicas jugables.</li>
				<li>Estilos variados a medida (Realista, cartoon).</li>
				<li>Diseño de personajes, NPC, enemigos.</li>
				<li>Diseño de escenarios.</li>
				<li>Implementamos todo lo anterior en el Motor de juegos.</li>
				<li>Optimización para mayor compatibilidad en los distintos dispositivos.</li>
				<li>Usamos las tecnologías más actuales para el desarrollo (Unreal Engine 4, Unity 3D 5)</li>
				<li>Desarrollamos videojuegos para computador (desde navegador o instalable), iPhone, Android.</li>
			</ul>
		</article>

		<article id="contenido6">  
		   <h2>VISUALIZACION DE PRODUCTOS 3D</h2>
			<p>Diseñamos todo tipo de entornos a medida del cliente, con posibilidad de ofrecer imágenes, videos y visualizaciones interactivas y de fácil manejo.</p>

			<p>Caracteristicas: </p>
			<ul>
				<li>Desarrollo de documento de diseño.</li>
				<li>Desarrollo de mecánicas jugables.</li>
				<li>Estilos variados a medida (Realista, cartoon).</li>
				<li>Diseño de personajes, NPC, enemigos.</li>
				<li>Diseño de escenarios.</li>
				<li>Implementamos todo lo anterior en el Motor de juegos.</li>
				<li>Optimización para mayor compatibilidad en los distintos dispositivos.</li>
				<li>Usamos las tecnologías más actuales para el desarrollo (Unreal Engine 4, Unity 3D 5)</li>
				<li>Desarrollamos videojuegos para computador (desde navegador o instalable), iPhone, Android.</li>
			</ul>
		</article>

		<article id="contenido7">  
		   <h2>PAGINAS WEB</h2>
			<p>Diseñamos todo tipo de entornos a medida del cliente, con posibilidad de ofrecer imágenes, videos y visualizaciones interactivas y de fácil manejo.</p>

			<p>Caracteristicas: </p>
			<ul>
				<li>Desarrollo de documento de diseño.</li>
				<li>Desarrollo de mecánicas jugables.</li>
				<li>Estilos variados a medida (Realista, cartoon).</li>
				<li>Diseño de personajes, NPC, enemigos.</li>
				<li>Diseño de escenarios.</li>
				<li>Implementamos todo lo anterior en el Motor de juegos.</li>
				<li>Optimización para mayor compatibilidad en los distintos dispositivos.</li>
				<li>Usamos las tecnologías más actuales para el desarrollo (Unreal Engine 4, Unity 3D 5)</li>
				<li>Desarrollamos videojuegos para computador (desde navegador o instalable), iPhone, Android.</li>
			</ul>
		</article>
	</div>
</section>
<script type="text/javascript">
	window.onload = function(){
				$("#lista1").als({
					visible_items: 3,
					scrolling_items: 2,
					orientation: "horizontal",
					circular: "yes",
					autoscroll: "no",
					interval: 5000,
					speed: 500,
					easing: "linear",
					direction: "right",
					start_from: 0
				});
			}

</script>