<div class="recuadro_servicios">
	<div class="contenido_servicios">
	<div class="titulos_principales"><h2>DESARROLLO DE VIDEOJUEGOS</h2></div>
		<article>  
			<p>Creamos videojuegos interactivos a medida del cliente ofreciendo todo tipo de géneros y jugabilidad. Desde juegos educativos, puzzles, acción, aventura, disparos, etc. </p>

			<p>Caracteristicas: </p>
			<ul>
				<li>Desarrollo de documento de diseño.</li>
				<li>Desarrollo de mecánicas jugables.</li>
				<li>Estilos variados a medida (Realista, cartoon).</li>
				<li>Diseño de personajes, NPC, enemigos.</li>
				<li>Diseño de escenarios.</li>
				<li>Implementamos todo lo anterior en el Motor de juegos.</li>
				<li>Optimización para mayor compatibilidad en los distintos dispositivos.</li>
				<li>Usamos las tecnologías más actuales para el desarrollo (Unreal Engine 4, Unity 3D 5)</li>
				<li>Desarrollamos videojuegos para computador (desde navegador o instalable), iPhone, Android.</li>
			</ul>
		</article>
	</div>
</div>