<!-- Inicio del slideshow -->
     
		    <div id="slider">
		        <ul class="bjqs">
		            <li>
		               <figure>
								<a href="https://www.facebook.com/JugabaInteractive"><img src="/img/imagenes_slideshow/1.jpg" alt="Desarrollo de videojuegos"></a>
								<figcaption><strong>DESARROLLO DE VIDEOJUEGOS:</strong> Digital Dive realiza todo tipo de aplicaciones 3D interactivas a medida de las necesidades de nuestro cliente. Desde tours virtuales, visualizaciones de productos, realidad aumentada a la combinación de diversos servicios para aplicaciones complejas, como escaneado 3D de entornos y objetos, creación de personajes virtuales, simulaciones físicas o integración de vehículos de todo tipo.
								</figcaption> 
    					</figure>
		            </li>
		            <li>
		               <figure>
								<a href="https://www.facebook.com/JugabaInteractive"><img src="/img/imagenes_slideshow/2.jpg" alt="Entornos interactivos"></a>
								<figcaption><strong>ENTORNOS INTERACTIVOS:</strong> Digital Dive realiza todo tipo de aplicaciones 3D interactivas a medida de las necesidades de nuestro cliente. Desde tours virtuales, visualizaciones de productos, realidad aumentada a la combinación de diversos servicios para aplicaciones complejas, como escaneado 3D de entornos y objetos, creación de personajes virtuales, simulaciones físicas o integración de vehículos de todo tipo.
								</figcaption> 
    					</figure>
		            </li>
		            <li>
		               <figure>
								<a href="https://www.facebook.com/JugabaInteractive"><img src="/img/imagenes_slideshow/3.jpg" alt="Formacion en diseño y arte de videojuegos"></a>
								<figcaption><strong>FORMACION EN DISEÑO Y ARTE DE VIDEOJUEGOS:</strong> Digital Dive realiza todo tipo de aplicaciones 3D interactivas a medida de las necesidades de nuestro cliente. Desde tours virtuales, visualizaciones de productos, realidad aumentada a la combinación de diversos servicios para aplicaciones complejas, como escaneado 3D de entornos y objetos, creación de personajes virtuales, simulaciones físicas o integración de vehículos de todo tipo.
								</figcaption> 
    					</figure>
		            </li>
		            <li>
		               <figure>
								<a href="https://www.facebook.com/JugabaInteractive"><img src="/img/imagenes_slideshow/4.jpg" alt="Cortos animados"></a>
								<figcaption><strong>CORTOS ANIMADOS:</strong> CSS3 delivers a wide range of stylization and effects, enhancing the web app without sacrificing your semantic structure or performance. Additionally Web Open Font Format (WOFF) provides typographic flexibility and control far beyond anything the web has offered before.
								</figcaption> 
    					</figure>
		            </li>
		        </ul>
		    </div>
     
    		<!-- Fin del slideshow -->

		    <section class="recuadro_comun">
		           <div class="barra_titulos"><h2>JUGABA INTERACTIVE</h2></div>
		           <div class="parrafo_info">
		           <p>Digital Dive realiza todo tipo de aplicaciones 3D interactivas a medida de las necesidades de nuestro cliente. Desde tours virtuales, visualizaciones de productos, realidad aumentada a la combinación de diversos servicios para aplicaciones complejas, como escaneado 3D de entornos y objetos, creación de personajes virtuales, simulaciones físicas o integración de vehículos de todo tipo.</p>

		           <p>Digital Dive realiza todo tipo de aplicaciones 3D interactivas a medida de las necesidades de nuestro cliente. Desde tours virtuales, visualizaciones de productos, realidad aumentada a la combinación de diversos servicios para aplicaciones complejas, como escaneado 3D de entornos y objetos, creación de personajes virtuales, simulaciones físicas o integración de vehículos de todo tipo.</p>
		           </div>
		           <figure>
						<img class="img_info"src="/img/img_info.jpg" alt="Jugaba Interactive"/>
					</figure>
		    </section> 

		    <div id="servicios">
		    	<div class="barra_titulos"><h2>SERVICIOS</h2></div>
		    	<br />
			    <section class="secciones_pequenyas">
				   <article>  
					   <img class="img_pequenya" src="/img/img_info.jpg" alt="Jugaba Interactive"/>
					   <a href="/index/servicios" onclick="muestra('contenido1');"><h2>DESARROLO DE VIDEOJUEGOS</h2></a>
						<p>Lorem fistrum torpedo ese que llega está la cosa muy malar. De la pradera caballo blanco caballo negroorl torpedo está la cosa muy malar jarl quietooor se calle uste pupita. Ese que llega pecador quietooor amatomaa te va a has pupitaa que dise usteer.</p>
				   </article>
				</section>
				
				<section class="secciones_pequenyas">
				   <article>
					   <img class="img_pequenya" src="/img/img_info.jpg" alt="Jugaba Interactive"/>
					   <h2>ENTORNOS INTERACTIVOS</h2>
					   <p>Lorem fistrum torpedo ese que llega está la cosa muy malar. De la pradera caballo blanco caballo negroorl torpedo está la cosa muy malar jarl quietooor se calle uste pupita. Ese que llega pecador quietooor amatomaa te va a has pupitaa que dise usteer.</p>
				   </article>
				</section>
				
				<section class="secciones_pequenyas">
				   <article>
					   <img class="img_pequenya" src="/img/img_info.jpg" alt="Jugaba Interactive"/>
					   <h2>FORMACION EN VIDEOJUEGOS</h2>
					   <p>Lorem fistrum torpedo ese que llega está la cosa muy malar. De la pradera caballo blanco caballo negroorl torpedo está la cosa muy malar jarl quietooor se calle uste pupita. Ese que llega pecador quietooor amatomaa te va a has pupitaa que dise usteer. </p>
				   </article>
				</section>

				<section class="secciones_pequenyas">
				   <article>
					   <img class="img_pequenya" src="/img/img_info.jpg" alt="Jugaba Interactive"/>
					   <h2>CORTOS ANIMADOS</h2>
					   <p>Lorem fistrum torpedo ese que llega está la cosa muy malar. De la pradera caballo blanco caballo negroorl torpedo está la cosa muy malar jarl quietooor se calle uste pupita.</p>
				   </article>
				</section>
				<div class="ver_mas"><a href="/index/servicios"><span> VER TODOS LOS SERVICIOS</span></a></div>
			</div>

			<div id="noticias">
				<section class="recuadro_destacado">
					<div class="barra_titulos_noticias"><h2>DESTACADO</h2></div>  
						<img class="img_pequenya" src="/img/img_info.jpg" alt="Jugaba Interactive"/>
					<article>
						<h2>BATTLE GUESTS EN LA MGW</h2>
						<p>El día xxxx, el equipo Jugaba Interactive estuve presente en la Madrid Game Week exponiendo su más reciente proyecto: Battle Guests. El día xxxx, el equipo Jugaba Interactive estuve presente en la Madrid Game Week exponiendo su más reciente proyecto: Battle Guests. Madrid Game Week exponiendo su más reciente proyecto: Battle Guests.</p>
						<div class="ver_mas"><a href="https://www.facebook.com/JugabaInteractive"><span> ver más</span></a></div>
					</article>
				</section>
					
				<section class="recuadro_noticias">
					<div class="barra_titulos_noticias"><h2>LO ULTIMO</h2></div>
					<nav>
						<ul>
							<li>
								<h2>Redes Sociales</h2>
								<p>Esto es una prueba de párrafo, esto es una noticia breve que debe ocupar maximo dos lineas. Esto es una prueba de párrafo, esto es una noticia breve que debe ocupar maximo dos lineas.</p>
								<div class="ver_mas"><a href="https://www.facebook.com/JugabaInteractive"><span>ver más</span></a></div>
							</li>
							<li>
								<h2>Redes Sociales</h2>
								<p>Esto es una prueba de párrafo, esto es una noticia breve que debe ocupar maximo dos lineas. Esto es una prueba de párrafo, esto es una noticia breve que debe ocupar maximo dos lineas.</p>
								<div class="ver_mas"><a href="https://www.facebook.com/JugabaInteractive"><span> ver más</span></a></div>
							</li>
							<li>
								<h2>Redes Sociales</h2>
								<p>Esto es una prueba de párrafo, esto es una noticia breve que debe ocupar maximo dos lineas. Esto es una prueba de párrafo, esto es una noticia breve que debe ocupar maximo dos lineas.</p>
								<div class="ver_mas"><a href="https://www.facebook.com/JugabaInteractive"><span> ver más</span></a></div>
							</li>
							<li>
								<h2>Redes Sociales</h2>
								<p>Esto es una prueba de párrafo, esto es una noticia breve que debe ocupar maximo dos lineas. Esto es una prueba de párrafo, esto es una noticia breve que debe ocupar maximo dos lineas.</p>
								<div class="ver_mas"><a href="https://www.facebook.com/JugabaInteractive"><span> ver más</span></a></div>
							</li>
						</ul>
					</nav>
				</section>
			</div>

