<!DOCTYPE html>
 
<html lang="es">
 
<head>
  <title>

  </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- Inserción de estilos -->
  <link href="/style/estilos_cabecera.css" rel="stylesheet" type="text/css" />
  <link href="/style/estilos_secciones.css" rel="stylesheet" type="text/css" />
  <link href="/style/estilos_footer.css" rel="stylesheet" type="text/css" />

  <link rel="shortcut icon" href="/favicon.ico" />

  <!-- Inserción de estilo del código Slide -->
  <link href="/style/estilos_slideshow.css" rel="stylesheet" type="text/css" />

  <!-- Inserción de jquery para slideshow -->
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="/js/bjqs.min.js"></script>
  <script src="/js/slideshow.js"></script>

  <!-- servicios -->
  <link href="/style/estilos_servicios.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/style/scroll_servicios.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/style/style2.css" />

   <script src="/js/inicio.js"></script>
  <script src="/js/servicios.js"></script>
  <script type="text/javascript" src="/js/scroll/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/js/scroll/jquery.als-1.7.min.js"></script>

</head>
 
<body>
  <div id="contenedor_Fondo">
    <div id="barra_superior">
      <div id="logo_escondido"><img class="logo_reducido" src="/img/logo.png" alt="logotipo"></div>
      <ul class="social_horizontal">
        <li><a href="/index/"><img class="social" src="/img/imagenes_sociales/facebook.png" alt="facebook"></a></li>
        <li><a href="/index/"><img class="social" src="/img/imagenes_sociales/twitter.png" alt="twitter"></a></li>
        <li><a href="/index/"><img class="social" src="/img/imagenes_sociales/youtube.png" alt="youtube"></a></li>
      </ul>
      <ul class="navegacion_mini">
        <li><a href="cursohtml.html">area de usuario</a></li>
      </ul>
    </div>
    <div id="contenedor_Principal">
      <div id="no_footer">

        <header>
          <img class="logo" src="/img/logo.png" alt="logotipo" width="230" height="80">
          <div id="menu_horizontal">
            <nav>
            <ul class="navegar">
              <li><a href="/index/">INICIO</a></li>
              <li><a href="/index/novedades">NOVEDADES</a></li>
              <li><a href="/index/servicios">SERVICIOS</a></li>
              <li><a href="/index/proyectos">PROYECTOS</a></li>
              <li><a href="cursojavascript.html">ENSEÑANZA</a></li>
              <li><a href="cursojavascript.html">GALERIA</a></li>
              <li><a href="cursojavascript.html">CONTACTO</a></li>
            </ul>
            </nav>
          </div>
        </header>

      	<div id="contenido_index">
  			 <% if(typeof errors != "undefined" && errors != null  && errors.length>0){ %>
  				  <span id='ErrorMsgs'>
  					Corregir errores:<br />
  					<% for (var i in errors){ %>
  						<span> <%= errors[i].message %> </span><br />
  					<% } %>
  				</span>	
  				<% } %>
  		    <div><%- body %></div>
        </div>
        <div class="clearfooter"></div>

      </div>
 
    </div>
   
    <footer>
          <div class="comun_footer">
            <nav class="nav_footer">
              <ul>
                <li><h2>Navegación</h2></li>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="asignaturas.html">Asigaturas</a></li>
                <li><a href="alumnos.html">Alumnos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
              </ul>
            </nav>
            
            <nav class="nav_footer">
              <ul>
                <li><h2>Navegación</h2></li>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="asignaturas.html">Asigaturas</a></li>
                <li><a href="alumnos.html">Alumnos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
              </ul>
            </nav>

            <nav class="nav_footer">
              <ul>
                <li><h2>Navegación</h2></li>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="asignaturas.html">Asigaturas</a></li>
                <li><a href="alumnos.html">Alumnos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
              </ul>
            </nav>

            <nav class="nav_footer">
              <ul>
                <li><h2>Navegación</h2></li>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="asignaturas.html">Asigaturas</a></li>
                <li><a href="alumnos.html">Alumnos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
              </ul>
            </nav>
            <div class="copyright">
              <div class="comun_footer2">
                <h4>Calle Cabo de San Antonio, 22,30740 San Pedro del Pinatar,Murcia</h4>
              </div>
              <div class="comun_footer2">
                <h4>Jugaba Interactive - 2015©</h4>
              </div>
            </div>
          </div>
      </footer>

      <div id="final"></div>
  </div>
</body>
</html>